                    <div class="block-header">
                        <!-- <h2>Dashboard</h2> -->

                        <ul class="actions" style="font-size:12px;">

                            <li>
                                <a style="width:100%"  ng-if="cds == ''" href="#/home" class="p-l-10">
                                    HOME
                                </a>
                                <a style="width:100%" ng-if="cds !== ''" href="#/dashboard" class="p-l-10">
                                    HOME
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:25px;">
                                        <h2>
                                            <small><h1>My Cash : <span style="color:#77f977" ng-controller="dashboardCtrl" >${{cash_balance}}</span> <h1></small> 
                                            <small><h1>My Portfolio : <span style="color:#f10ae8" ng-controller="dashboardCtrl" >${{portfolio_balance}}</span> <h1></small> 
                                            <small><h1>Total Account : <span style="color:#82b4f5" ng-controller="dashboardCtrl" >${{total_balance}}</span> <h1></small> 
                                            <small><h1>Net Performance (Day): <span style="color:green" ng-controller="dashboardCtrl" >${{pl_balance}}</span> <h1></small> 
                                        </h2>
                                    </div>                                   

                                </div>
                            </div>

                            <div class="col-md-8 col-sm-6">

                                <div class="card">
                                    <div class="card-header">
                                        <h2>Primary Market  Information  </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map" ng-controller="dashboardCtrl">
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Series </th>
                                                        <th>ISIN</th>
                                                        <th>Call Feature </th>
                                                        <th>Coupon Rate</th>
                                                        <th>Settlement Date </th>
                                                        <th>First Coupon Date </th>
                                                        <th>Period (Coupon payment period)</th>
                                                        <th>Day Basis</th>
                                                        <th>Last Coupon date</th>
                                                        <th>Principal Offered</th>
                                                        <th>Units Offered </th>
                                                        <th>Denomination</th>
                                                        <th>Minimum Offering </th>
                                                        <th>Maximum Offering </th>
                                                        <th>Bid Multiple</th>
                                                        <th>Min. Yield</th>
                                                        <th>Max. Yield</th>
                                                        <th>Fixed Price</th>
                                                        <th>OPTION</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderr in ipo" >

                                                        <td>{{orderr.Series}}</td>
                                                        <td>{{orderr.ISIN}}</td>
                                                        <td>{{orderr.CallFeature}}</td>
                                                        <td>{{orderr.CouponRate}}</td>
                                                        <td>{{orderr.SettlementDate}}</td>
                                                        <td>{{orderr.FirstCouponDate}}</td>
                                                        <td>{{orderr.PeriodCouponpaymentperiod}}</td>
                                                        <td>{{orderr.DayBasis}}</td>
                                                        <td>{{orderr.LastCoupondate}}</td>
                                                        <td>{{orderr.PrincipalOffered}}</td>
                                                        <td>{{orderr.UnitsOffered}}</td>
                                                        <td>{{orderr.Denomination}}</td>
                                                        <td>{{orderr.MinimumOffering}}</td>
                                                        <td>{{orderr.MaximumOffering}}</td>
                                                        <td>{{orderr.BidMultiple}}</td>
                                                        <td>{{orderr.MinYield}}</td>
                                                        <td>{{orderr.MaxYield}}</td>
                                                        <td>{{orderr.FixedPrice}}</td>
                                                        <td><button class="btn btn-primary buy" style="margin-right:10px;"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUYIPO()">BUY</button> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My RECENT IPO Orders </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map" ng-controller="dashboardCtrl">
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Security</th>
                                                        <th>Type</th>
                                                        <th style ="text-align:center;">Volume</th>
                                                        <th>Price</th>
                                                        <th>Value</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Channel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderr in my_ipo_orders" >
                                                        <td>{{$index+1}}</td>
                                                        <td>{{orderr.counter}}</td>
                                                        <td>{{orderr.type}}</td>
                                                        <td style ="text-align:center;">
                                                            <span ng-if="orderr.type.indexOf('SELL') !== -1" class ="our-red-color">{{orderr.volume}}</span>
                                                            <span ng-if="orderr.type.indexOf('BUY') !== -1" class ="our-green-color">{{orderr.volume}}</span>
                                                        </td>
                                                        <td>
                                                            {{orderr.price}}
                                                        </td>                                                        
                                                        <td>{{total(orderr.price , orderr.volume)}}</td>
                                                        <td>{{orderr.date}}</td>
                                                        <td>{{orderr.status}}</td>
                                                        <td>{{orderr.desc}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

        <script type="text/ng-template" id="placeOrderDiagBUYIPO" style"background-color:green;">
            <form ng-controller="OrderIPOCtrl">
                <div class="ngdialog-message">
                    <h2>IPO BUY Order</h2>
                    <div>
                        <div id ="addr_yangu"> Select Company </div>
                        <select name ="company" ng-model="company"   class='mytextEditor'>
                            <option value ="IS01"> IS01 </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Security </div>
                        <select name ="security" ng-model="security"   class='mytextEditor'>
                            <option value ="BOND"> BOND </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Quantity </div>
                        <input type="text" ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>
                     <div>
                        <div id ="addr_yangu"> Broker </div>
                        <select name ="broker"  ng-model="broker"   class='mytextEditor'>
                            <option ng-repeat="x in brokerz" value="{{x.Code}}">{{x.Name}}</option>
                        </select>                        
                    </div>

                    <input type="hidden" ng-model="price" name ="price" value = "1.00" />
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY"/>


                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Place Order ► </button>
                </div>

                <pre>Order Details={{list}}</pre>
            <form>
            

        </script>  