                <div class="container">
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-4 col-sm-6" >
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:25px;" ng-controller="notLoggedCtrl">
                                        <h2>
                                            <small><h1>Uncleared Cash : <span style="color:#77f977" ng-controller="dashboardCtrl" >E{{initbalance}}</span> <h1></small> 
                                            <small><h1>Cleared Cash : <span style="color:#77f977" ng-controller="dashboardCtrl" >E{{initbalance}}</span> <h1></small> 
                                            <small><h1>My Portfolio : <span style="color:#f10ae8" ng-controller="dashboardCtrl" >E{{initbalance}}</span> <h1></small> 
                                            <small><h1>Total Account : <span style="color:#82b4f5" ng-controller="dashboardCtrl" >E{{initbalance}}</span> <h1></small> 
                                            <small><h1>Trading Profit Loss (Day) : <span style="color:green" ng-controller="dashboardCtrl" >E{{initbalance}}</span> <h1></small>                                             
                                            <small class ="pull-right">
                                                <button class="btn btn-primary widthdraw" style="margin:10px;" ng-controller="notLoggedCtrl" ng-click="openDiag()">Withdraw</button> 
                                                <button style="margin:10px;" class="btn btn-primary deposit" ng-controller="notLoggedCtrl" ng-click="openDiag()">Deposit</button> 
                                            </small> 
                                        </h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="pmo-map">
                                            <h1>Cash Transactions</h1>
                                            <br>
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Type</th>
                                                        <th>Amount</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="5">
                                                            <a href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiag()" > Please login first</a> 
                                                        </td>
                                                    </tr>                                                            
                                                </tbody>
                                            </table>
                                            <br>
                                        </div>
                                    </div>
                                    <div  ng-controller="notLoggedCtrl" >
                                        <div class="card-header">

                                            <div class="user show">
                                                        <div class="row">
                                                             <button class="col-md-4 btn btn-link blink_text" style="color: #22f92c;font-size: 20px; font-family: 'Times New Roman', Times, serif;"><blink ng-cloak><b>Trade Now</b></blink></button>
                                                            <button class="col-md-3 btn btn-primary sell"   ng-controller="notLoggedCtrl" ng-click="openDiag()">SELL ORDER</button>
                                                            <button class="col-md-3 m-l-5 btn btn-primary buy"   ng-controller="notLoggedCtrl" ng-click="openDiag()">BUY ORDER</button>
                                                        </div>                                                  

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:2px;">
                                        <h2>My Profile 
                                            <!-- <small><a href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiag()">Please login first</a> </small> -->
                                        </h2>
                                    </div>
                                    <div class="card-header">
                                        <h2>
                                            <div class = 'row'>
                                                    <a class ="col-md-2 cd-signup btn btn-primary"  href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiag()">Login</a>
                                                    <a class ="col-md-4 m-l-5 cd-signup btn btn-primary"  href="online.ctrade_php/sign_up.php">Create Account</a>
                                                    <a class ="col-md-5 m-l-5 cd-signup btn btn-primary"  href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiagForget()">Forgot Password</a>
                                            </div>
                                            <small class='pull_right'>
                                                <a href="docs/terms.pdf" target="_blank">Terms and Conditions</a>
                                            </small>
                                        </h2>
                                    </div>


                                </div>
                            </div>


                            <div class="col-md-8 col-sm-6">

                                <div class="card">
                                        <div ng-tabs class="tabbable">
                                            <ul class="nav nav-tabs tab-nav-right">
                                                <li  class="pull-left"  role="presentation"><h2>Market Watch</h2></li>
                                                <li  class="pull-left"  role="presentation" style="width: 66%;">
                                                    <div class='ticker' ng-controller="notLoggedCtrl">
                                                        <ul class="nav nav-tabs tab-nav-right" style = "width:140%;overflow:hidden;">
                                                            <li class = 'cnbca_' ng-repeat="box in boxes" style="color: #ff8000;">
                                                              ----{{box.exchange}} -MARKET CAP: {{box.market_cap}} -TURNOVER: {{box.turnover}} -TRADED :  {{box.trades}}
                                                            </li>
                                                        </ul>

                                                    </div>
                                              </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">Fixed Income</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">REIT's Board</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">ETF Board</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" ng-tab-head="on">
                                                    <a href="#" ng-click="$event.preventDefault()">Equities Board</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content"  ng-controller="notLoggedCtrl">
                                                <div ng-tab-body class="tab-pane">
                                                    <div class="card">
                                                        <div class="card-body table-responsive">
                                                            <h1 style="border-bottom: 1px #c1c1c1 solid;">EQUITIES</h1>
                                                            <div class="pmo-map row" style ="margin: 0px 1px 0px 0px;">
                                                                    <div class="col-md-6"  style="border-right: 1px #c1c1c1 solid;">
                                                                        <h1>ESE</h1>
                                                                        <table class="table table-hover  table-sticky-header table-expandable table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;width:67px;">Company</th>
                                                                                    <th>Bid</th>
                                                                                    <th>Ask</th>                                 
                                                                                    <th>Price(VWA)</th>
                                                                                    <th>Last Price</th>
                                                                                    <th>Last Volume</th>
                                                                                    <th>Turnover</th>
                                                                                    <th>Change</th>
                                                                                    <th>Change(%)</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                          <tr ng-repeat-start="countr in marketwatch  | orderBy:predicateme:reverseme | filter:paginateme| filter:searchme" >
                                                                                            <td style="text-align:left;"><a href='javascript:void();' ng-click="tableRowClicked(countr.market_company)">{{countr.market_company}}</a>
                                                                                                <span ng-if="countr.market_change < 0" class ="red_arrow"></span>
                                                                                                <span ng-if="countr.market_change > 0 " class ="green_arrow"></span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color"></span>
                                                                                            </td>
                                                                                            <td>{{countr.market_bbv}}</td>
                                                                                            <td>{{countr.market_va}}</td>
                                                                                            <td>{{countr.market_vwap}}</td>
                                                                                            <td>{{countr.market_lp}}</td>
                                                                                            <td>{{countr.market_lv}}</td>
                                                                                            <td>{{countr.market_to}}</td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_change < 0" class ="our-red-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change > 0" class ="our-green-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color">{{countr.market_change}}</span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_per_change < 0" class ="our-red-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change > 0" class ="our-green-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change == 0" class ="our-white-color">{{countr.market_per_change}}</span>
                                                                                            </td>
                                                                                            <td style="cursor: pointer;">
                                                                                              <div class="table-expandable-arrow up" ng-if="countr.expanded" ng-click="countr.expanded = false"></div>
                                                                                              <div class="table-expandable-arrow" ng-if="!countr.expanded" ng-click="countr.expanded = true"></div>
                                                                                            </td>                                                            
                                                                                          </tr>

                                                                                          <tr ng-if="countr.expanded" ng-repeat-end="">
                                                                                            <td colspan="15">
                                                                                                <div class ="row">
                                                                                                    <div class="col-md-12 col-sm-12">
                                                                                                        <h4 style="text-align:left;">{{countr.market_company}}</h4>
                                                                                                        <div class="pull-right">
                                                                                                            <button class="btn btn-primary buy" style="margin-right:10px;"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()">BUY</button> 
                                                                                                            <button class="btn btn-primary sell"  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL</button>                                                        
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">
                                                                                                        <h4>BEST BID</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="bid in countr.bids" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{bid.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{bid.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">                                                 
                                                                                                        <h4>BEST ASK</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="ask in countr.asks" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{ask.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{ask.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                          </tr>   


                                                                            </tbody>
                                                                        </table>
<!--                                                                         <div style="text-align:center;">
                                                                            <pagination total-items="totalItemsme" ng-model="currentPageme"  
                                                                                 max-size="8" boundary-links="true"  
                                                                                 items-per-page="numPerPageme" class="pagination-sm">  
                                                                           </pagination>  
                                                                         </div>
 -->
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div><h1>{{graph_company_ZSE}}</h1>
                                                                        	<a class= 'btn btn-link pull-right' href="javascript:void(0)" ng-controller="dashboardCtrl" ng-click="graphs()">View More Graphs</a>
                                                                        </div>

                                                                        <nvd3 style="fill: #e4b447;stroke:#9c27b0"  options="options", data="data_zse", api="rc.api" config="{refreshDataOnly: true}" />
                                                                    </div>
                                                                
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div> 


                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Recent Orders </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map">
                                            <table class="table  table-hover table-bordered table-striped ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Counter</th>
                                                        <th>Type</th>
                                                        <th>Volume</th>
                                                        <th>Price</th>
                                                        <th>Value</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Channel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="9">
                                                            <a href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiag()" >Please login first</a> 
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Portfolio</h2>
                                    </div>

                                    <div class="card-body table-responsive">

                                        <div class="pmo-map">
                                            <table class="table  table-hover table-bordered table-striped table-expandable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Counter </th>
                                                        <th>No. Shares</th>
                                                        <th>Last Activity date</th>
                                                        <th>Current price per share</th>
                                                        <th>Total portfoil value</th>
                                                        <th>Returns</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="7">
                                                           <a href="javascript:void(0);" ng-controller="notLoggedCtrl" ng-click="openDiag()"> Please login first </a> 
                                                        </td>
                                                    </tr>  

                                                </tbody>
                                            </table>
                        
                                        </div>

                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>


        <script type="text/ng-template" id="firstDialog">
            <form ng-submit="doLogin()" ng-controller="LoginCtrl">
                <div class="ngdialog-message">
                    <h2>Login</h2>
                    <p><span id ="cds_email_atp">{{cds_email}}</span></p>
                    <div>
                        <div id ="addr_yangu"> Enter email address or CDS/ATP number </div> <br>
                        <input type="{{inputType}}" ng-model="any" name ="any" class='mytextEditor'/>
                        
                    </div>
                    <div>
                    <a class ="cd-signup"  href="online.ctrade_php/sign_up.php">Create Account</a>
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="submit" ng-if="cds_email == '' "  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        {{ searchButtonText }}
                    
                    </button>
                    <button type="submit" ng-if="cds_email !== '' "  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        {{ searchButtonText }}
                    
                    </button>
                </div>
                <pre style="display:none;">CDS/ATP/EMAIL={{list}}</pre>
            <form>
        </script>        

        <script type="text/ng-template" id="forgetPassDialog">
            <form ng-submit="doForgetPass()" ng-controller="LoginCtrl">
                <div class="ngdialog-message">
                    <h2>Forgot Password</h2>
                    <div>
                        <div id ="addr_yangu"> Enter email address</div> <br>
                        <input type="text" ng-model="my_email" name ="my_email" class='mytextEditor'/>
                    </div>
                    <div>
                    <a class ="cd-signup"  href="online.ctrade_php/sign_up.php">Create new account</a>
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                     <button type="submit" ng-if="cds_email !== '' "  class="ngdialog-button ngdialog-button-primary" >RESET PASSWORD ► </button>
                </div>
                <pre style="display:none;">CDS/ATP/EMAIL={{list}}</pre>
            <form>
        </script>        
