
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-12 col-sm-6"><span class="him-label pull-right" ng-controller="dashboardCtrl" ng-if="Login_Name == 'logged' "  data-ng-init="start()">{{paramValue}}</div></div>
                            <div class="col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:25px;">
                                        <h6>
                                                    <table class="table  table-hover table-bordered table-striped" ng-controller="dashboardCtrl">
                                                        <tbody ng-controller="dashboardCtrl" >                                                        
                                                          <tr>
                                                            <td style="text-align: left;">Uncleared Cash : </td>
                                                            <td style="color:#77f977;text-align: right;" >{{v_cash_balance  | currency:"E":4}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="text-align: left;">Cleared Cash :  </td>
                                                            <td style="color:#77f977;text-align: right;" >{{actualcash_balance | currency:"E":4}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="text-align: left;">Cash Available:  </td>
                                                            <td style="color:#77f977;text-align: right;" >{{cash_balance | currency:"E":4}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="text-align: left;">My Portfolio :  </td>
                                                            <td style="color:#f10ae8;text-align: right;" >{{portfolio_balance  | currency:"E":4}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="text-align: left;">Total Account : </td>
                                                            <td style="color:#82b4f5;text-align: right;" >{{total_balance | currency:"E":4}}</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="text-align: left;">Portfolio Gain / Loss (Day): </td>
                                                            <td style="color:green;text-align: right;" >{{pl_balance | currency:"E":4}}</td>
                                                          </tr>
                                                        </tbody>

                                                    </table>
                                            <small class ="pull-right">
                                                <a style="margin:10px;" class="btn btn-primary deposit" ng-controller="dashboardCtrl" ng-click="placeOrderDiagDeposit()">Deposit</a> 
                                                <button class="btn btn-primary widthdraw" ng-controller="dashboardCtrl" ng-click="placeOrderDiagWidthdraw()" style="margin:10px;">Withdraw</button> 
                                                
                                            </small> 
                                        </h6>
                                    </div>
                                    <div class="card-body">

                                        <div class="pmo-map">
                                            <h1>Cash Transactions</h1><br>
                                                    <table class="table  table-hover table-bordered table-striped" ng-controller="dashboardCtrl">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th>#</th> -->
                                                                
                                                                <th style="text-align: left;">Type</th>
                                                                <th>Desc</th>
                                                                <th>Amount</th>
                                                                <th>Date</th>
                                                                <!-- <th>Status</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>                                                        
                                                          <tr ng-repeat="cash_countr in cash_transactions  | orderBy:predicate:reverse | filter:paginate| filter:search" >
                                                            <!-- <td></td> -->
                                                            <td  style="text-align: left;">{{cash_countr.type}}</td>
                                                            <td>{{cash_countr.desc}}</td>
                                                            <td>
                                                                <span ng-if="cash_countr.ammount < 0" class ="our-red-color">{{cash_countr.ammount | currency:"$":4}}</span>
                                                                <span ng-if="cash_countr.ammount > 0" class ="our-green-color">{{cash_countr.ammount | currency:"$":4}}</span>
                                                            </td>                                                            
                                                            
                                                            <td>{{cash_countr.date}}</td>
                                                            <!-- <td>{{cash_countr.status}}</td> -->
                                                          </tr>
                                                          <tr>
                                                            <td colspan="4"  style ="text-align:center;">                                           
                                                                <pagination total-items="totalItems" ng-model="currentPage"  
                                                                     max-size="5" boundary-links="true"  
                                                                     items-per-page="numPerPage" class="pagination-sm">  
                                                               </pagination>  
                                                            </td>
                                                          </tr>
                                                        </tbody>

                                                    </table>

                                                    <br>
                                                <!-- <a class ="pull-right" href ="#">View Statement</a> -->
                                        </div>
                                    </div>
                                    
                                    <div  ng-controller="notLoggedCtrl" >
                                        <div class="card-header" style="padding: 0px 0px 0px 18px;">

                                            <div class="user show">
                                                <div class="row" style ="margin-left: 0px;margin-right: 8px;">
                                                    <blink class = "col-md-3"><button class="btn btn-link blink_text" style="color: #22f92c;font-size: 20px; font-family: 'Times New Roman', Times, serif;"><b>Trade Now</b></button></blink>
                                                    <button class="btn col-md-3 m-l-5 pull-right btn-primary buy "  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()"><span style="color: #000;">BUY ORDER</span></button>
                                                    <button class="btn col-md-3 pull-right btn-primary sell  m-l-5 "  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL ORDER</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-body" style='display:none;'>
                                            <div class="chart-edge">
                                                <div id="site-visits" class="dw-item">
                                                    <div class="dwi-header">
                                                        <div class="dropdown-backdrop"></div>
                                                        <div class="user__info" data-toggle="dropdown" aria-expanded="false"> 
                                                        <img class="pull-left mCS_img_loaded" width="32" src="img/select_counter.png" alt="">                                     
                                                            <div> 

                                                                <div class="user__name">{{graph_company}}</div>
                                                                <!-- <div class="user__email">Old Mutual Zimbabwe </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="dropdown-menu pull-right">
                                                            <div class="dropdown-item dropdown-item-title"><h1>SELECT COMPANY</h1></div>
                                                            <a ng-repeat="compani in companies_listing | orderBy:predicatec:reversec | filter:paginatec| filter:searchc" class="dropdown-item" href="javascript:void(0);" ng-click="getDataServer(compani.Name);">
                                                                {{compani.Name}}
                                                            </a>
                                                            <pagination total-items="totalItemsc" ng-model="currentPagec"  
                                                                 max-size="5" boundary-links="true"  
                                                                 items-per-page="numPerPagec" class="pagination-sm">  
                                                            </pagination>  

                                                        </div>                                                        

                                                        <div class="p-5">
                                                            <div>
                                                                <nvd3 style="fill:#e4b447;stroke:#e4b447;"  options="options", data="data", api="rc.api" config="{refreshDataOnly: true}" />
                                                                <!-- <nvd3   options="options"  ,data="data"  ,api=""></nvd3> -->
                                                            </div>
                                                        </div>

                                                        

                                                    </div>
                                                </div>                                            


                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="card m-b-20">
                                    <div class="card-header" ng-controller="dashboardCtrl" style="padding-bottom:2px;">
                                        <h2>My Profile</h2>
                                    </div>
                                    <div class="card-body" id="profile-main">
                                        <div class="pmb-block">
                                            <div class="pmbb-body ">
                                                <div class="pmbb-view">
                                                    <dl class="dl-horizontal">
                                                        <dt>Full name</dt>
                                                        <dd>{{ ctrade_title }} {{ ctrade_forename }} {{ ctrade_surname }}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Mobile</dt>
                                                        <dd>{{ ctrade_mobile }}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Email</dt>
                                                        <dd>{{ email }}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>C-TRADE Account Number</dt>
                                                        <dd>{{cds}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Country</dt>
                                                        <dd>{{ctrade_country}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Custodian</dt>
                                                        <dd>{{ctrade_custodian}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Broker</dt>
                                                        <dd>{{ctrade_broker}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>ID Number</dt>
                                                        <dd>{{ctrade_idnumber}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Bank</dt>
                                                        <dd>{{ctrade_bank}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Bank branch</dt>
                                                        <dd>{{ctrade_branch}}</dd>
                                                    </dl>
                                                    <dl class="dl-horizontal">
                                                        <dt>Bank account number</dt>
                                                        <dd>{{ctrade_acc_num}}</dd>
                                                    </dl>
                                                    <div class="m-t-10">
                                                       <button  ng-controller="dashboardCtrl" ng-click="openChangeBroker()" class="btn btn-link my_btntin  btn-sm waves-effect">Change Broker</button><br>
                                                       <button  ng-controller="dashboardCtrl" ng-click="logout()" class="btn my_btntin btn-link btn-sm waves-effect">LOGOUT</button>
                                                    </div>                                                
                                                </div>

                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>

                            <div class="col-md-8 col-sm-6">


                                <div class="card">
                                        <div ng-tabs class="tabbable">
                                            <ul class="nav nav-tabs tab-nav-right">
                                                <li  class="pull-left"  role="presentation"><h2>Market Watch</h2></li>
                                                <li  class="pull-left"  role="presentation" style="width: 66%;">
                                                    <div class='ticker' ng-controller="notLoggedCtrl">
                                                        <ul class="nav nav-tabs tab-nav-right" style = "width:140%;overflow:hidden;">
                                                            <li class = 'cnbca_' ng-repeat="box in boxes" style="color: #ff8000;">
                                                              ----{{box.exchange}} -MARKET CAP: {{box.market_cap}} -TURNOVER: {{box.turnover}} -TRADED :  {{box.trades}}
                                                            </li>
                                                        </ul>

                                                    </div>
                                              </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">Fixed Income</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">REIT's Board</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">ETF Board</a>
                                                </li>                                                
                                                <li class="pull-right" style="background: #000;" ng-tab-head="on">
                                                    <a href="#" ng-click="$event.preventDefault()">Equities Board</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content"  ng-controller="notLoggedCtrl">
                                                <div ng-tab-body class="tab-pane">
                                                    <div class="card">
                                                        <div class="card-body table-responsive">
                                                            <h1 style="border-bottom: 1px #c1c1c1 solid;">EQUITIES</h1>
                                                            <div class="pmo-map row" style ="margin: 0px 1px 0px 0px;">
                                                                    <div class="col-md-6"  style="border-right: 1px #c1c1c1 solid;">
                                                                        <h1>ESE</h1>
                                                                        <table class="table table-hover  table-sticky-header table-expandable table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;width:67px;">Company</th>
                                                                                    <th>Bid</th>
                                                                                    <th>Ask</th>                                 
                                                                                    <th>Price(VWA)</th>
                                                                                    <th>Last Price</th>
                                                                                    <th>Last Volume</th>
                                                                                    <th>Turnover</th>
                                                                                    <th>Change</th>
                                                                                    <th>Change(%)</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                          <tr ng-repeat-start="countr in marketwatch  | orderBy:predicateme:reverseme | filter:paginateme| filter:searchme" >
                                                                                            <td style="text-align:left;"><a href='javascript:void();' ng-click="tableRowClicked(countr.market_company)">{{countr.market_company}}</a>
                                                                                                <span ng-if="countr.market_change < 0" class ="red_arrow"></span>
                                                                                                <span ng-if="countr.market_change > 0 " class ="green_arrow"></span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color"></span>
                                                                                            </td>
                                                                                            <td>{{countr.market_bbv}}</td>
                                                                                            <td>{{countr.market_va}}</td>
                                                                                            <td>{{countr.market_vwap}}</td>
                                                                                            <td>{{countr.market_lp}}</td>
                                                                                            <td>{{countr.market_lv}}</td>
                                                                                            <td>{{countr.market_to}}</td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_change < 0" class ="our-red-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change > 0" class ="our-green-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color">{{countr.market_change}}</span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_per_change < 0" class ="our-red-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change > 0" class ="our-green-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change == 0" class ="our-white-color">{{countr.market_per_change}}</span>
                                                                                            </td>
                                                                                            <td style="cursor: pointer;">
                                                                                              <div class="table-expandable-arrow up" ng-if="countr.expanded" ng-click="countr.expanded = false"></div>
                                                                                              <div class="table-expandable-arrow" ng-if="!countr.expanded" ng-click="countr.expanded = true"></div>
                                                                                            </td>                                                            
                                                                                          </tr>

                                                                                          <tr ng-if="countr.expanded" ng-repeat-end="">
                                                                                            <td colspan="15">
                                                                                                <div class ="row">
                                                                                                    <div class="col-md-12 col-sm-12">
                                                                                                        <h4 style="text-align:left;">{{countr.market_company}}</h4>
                                                                                                        <div class="pull-right">
                                                                                                            <button class="btn btn-primary buy" style="margin-right:10px;"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()">BUY</button> 
                                                                                                            <button class="btn btn-primary sell"  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL</button>                                                        
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">
                                                                                                        <h4>BEST BID</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="bid in countr.bids" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{bid.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{bid.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">                                                 
                                                                                                        <h4>BEST ASK</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="ask in countr.asks" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{ask.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{ask.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                          </tr>   


                                                                            </tbody>
                                                                        </table>
<!--                                                                         <div style="text-align:center;">
                                                                            <pagination total-items="totalItemsme" ng-model="currentPageme"  
                                                                                 max-size="8" boundary-links="true"  
                                                                                 items-per-page="numPerPageme" class="pagination-sm">  
                                                                           </pagination>  
                                                                         </div> -->

                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div><h1>{{graph_company_ZSE}}</h1>
                                                                        	<a class= 'btn btn-link pull-right' href="javascript:void(0)" ng-controller="dashboardCtrl" ng-click="graphs()">View More Graphs</a>
                                                                        </div>
                                                                        <nvd3 style="fill: #e4b447;stroke:#9c27b0"  options="options", data="data_zse", api="rc.api" config="{refreshDataOnly: true}" />
                                                                    </div>
                                                                
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div> 

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Recent Orders </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map" ng-controller="dashboardCtrl">
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:left;">#</th>
                                                        <th style="text-align:left;">Security</th>
                                                        <th style="text-align:left;">Type</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>Value</th>
                                                        <th>Date</th>
                                                        <th style="text-align:center;">Status</th>
                                                        <th style="text-align:left;">Channel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderr in my_orders  | orderBy:predicateo:reverseo | filter:paginateo| filter:searcho" >
                                                        <td style="text-align:left;">{{$index+1}}</td>
                                                        <td style="text-align:left;">{{orderr.counter}}</td>
                                                        <td style="text-align:left;">{{orderr.type}}</td>
                                                        <td>
                                                            <span ng-if="orderr.type.indexOf('SELL') !== -1" class ="our-red-color">{{orderr.volume | number}}</span>
                                                            <span ng-if="orderr.type.indexOf('BUY') !== -1" class ="our-green-color">{{orderr.volume | number}}</span>
                                                        </td>
                                                        <td>
                                                            {{orderr.price | currency}}
                                                        </td>                                                        
                                                        <td>{{total(orderr.price , orderr.volume)  | currency}}</td>
                                                        <td>{{orderr.date}}</td>
                                                        <td style="text-align:center;">{{orderr.status}}</td>
                                                        <td style="text-align:left;">{{orderr.desc}}</td>
                                                        <td ng-if="orderr.status == 'OPEN' "  style="text-align:left;">
                                                            [<a href ="javascript:void(1);"   ng-controller="OrderCtrl" ng-click="cancelOrder(orderr.id, orderr.type)"> Cancel </a>]
                                                            <!-- [<a href ="javascript:void(1);"   > Edit </a>] -->
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <td colspan="9" style ="text-align:center;">                                           
                                                            <pagination total-items="totalItemso" ng-model="currentPageo"  
                                                                 max-size="5" boundary-links="true"  
                                                                 items-per-page="numPerPageo" class="pagination-sm">  
                                                           </pagination>  
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Portfolio</h2>
                                    </div>

                                    <div class="card-body table-responsive" ng-controller="dashboardCtrl">
                                        <div class="pmo-map">
                                            <table class="table   table-sticky-header table-hover table-bordered table-striped table-expandable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Company</th>
                                                        <th>Prev Day Quantity</th>
                                                        <th>Quantity</th>
                                                        <th>Sells</th>
                                                        <th>Available</th>
                                                        <th>Current price per share</th>
                                                        <th>Current portfoil value</th>
                                                        <th>Previous price per share</th>
                                                        <th>Previous portfolio value</th>
                                                        <th>Portfolio Gain / Loss (Day) </th>                                                        
                                                        <th>Last Activity date</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="my_port in my_portfolio" >
                                                        <td>{{$index+1}}</td>
                                                        <td>{{my_port.counter}}</td>
                                                        <td>{{my_port.prev_numbershares | number}}</td>
                                                        <td>{{my_port.numbershares | number}}</td>
                                                        <td>{{my_port.uncleared | number}}</td>
                                                        <td>{{my_port.net | number}}</td>
                                                        <td>{{my_port.currentprice  | currency:"E":4}}</td>
                                                        <td>{{my_port.totalportvalue  | currency:"E":4}}</td>
                                                        <td>{{my_port.prevprice  | currency:"E":4}}</td>
                                                        <td>{{my_port.totalPrevPortValue  | currency:"E":4}}</td>  

                                                        <td>
                                                            <span ng-if="my_port.returns < 0" class ="our-red-color">{{my_port.returns  | currency:"E":4}} <span class ="red_arrow"></span></span>
                                                            <span ng-if="my_port.returns > 0" class ="our-green-color">{{my_port.returns  | currency:"E":4}} <span class ="green_arrow"></span></span>

                                                            <span ng-if="my_port.returns == 0">{{my_port.returns  | currency:"E":4}} </span>
                                                        </td>  
                                                        <td>{{my_port.lastactivitydate}}</td>                                                       
                                                        <td>

                                                            </td>
                                                        <td style="cursor: pointer;">
                                                          <div class="table-expandable-arrow up" ng-if="my_port.expanded" ng-click="my_port.expanded = false"></div>
                                                          <div class="table-expandable-arrow" ng-if="!my_port.expanded" ng-click="my_port.expanded = true"></div>
                                                        </td>                                                          
                                                    </tr>

                                                      <tr ng-if="my_port.expanded" ng-repeat-end="">
                                                        <td colspan="12">
                                                            <div class ="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    COMPANY: {{my_port.counter}}
                                                                    <br>                           
                                                                                                                                     
                                                                    <div class="pull-right">
                                                                        <button class="btn btn-primary sell"  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL SHARES</button>                                                        
                                                                        <button class="btn btn-primary buy"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()">BUY SHARES</button>                                                        
                                                              
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <h4>TOP 5 BUY INFORMATION</h4>
                                                                        <table class="table table-inner table-vmiddle">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>COMPANY</th>
                                                                                    <th>Volume</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>                                                                   
                                                                                <tr ng-repeat="buyi in my_port.BuyDetail">
                                                                                    <td class="f-500 c-cyan">{{buyi.company}}</td>
                                                                                    <td>{{buyi.volume}}</td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>   
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">                                                 
                                                                    <h4>TOP 5 SELL INFORMATION</h4>
                                                                        <table class="table table-inner table-vmiddle">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>COMPANY</th>
                                                                                    <th>Volume</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="seri in my_port.SellDetail">
                                                                                    <td class="f-500 c-cyan">{{seri.company}}</td>
                                                                                    <td>{{seri.volume}}</td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>   
                                                                </div>
                                                            </div>
                                                        </td>
                                                      </tr>    

                                                </tbody>
                                            </table>
                        
                                        </div>

                                    </div>
                                </div>




                            <!--    
                                <div class="block-header">
                                     <h2>Dashboard</h2> 

                                    <ul class="actions" style="font-size:12px;">

                                        <li ng-app="blink"> 
                                            <blink>
                                                <a  style="width:100%;border-radius:0;background-color: #ff0;color: #000;margin-top: 12px;margin-left: 14px;" href="#/ipo" class ="btn btn-sm animated-button gibson-two ">

                                                <b style="text-align: center;font-weight: 600;">IPO </b><br><div style ="font-size:9px;text-align: left;">
                                                    TESTCOMP.IPO<br>
                                                    Status open  <br>
                                                    Closing date : 20 May 2018  <br>
                                                </div>
                                                </a>
                                            </blink> 
                                        </li>
                                    </ul>

                                </div>
                            -->


                            </div>

                        </div>
                    </div>



<!-- Buy Orders -->
        <script type="text/ng-template" id="placeOrderDiagBUY">
            <form ng-controller="OrderCtrl">
                <div class="ngdialog-message">
                    <h2 style="border-bottom: 1px green solid;">PLACE BUY ORDER</h2>
                    <div style="display: none;">
                        <div id ="addr_yangu"><b> Select Exchange</b> </div>

                        ESE <input type="radio" ng-model="xchange" name="xchange" value ="ESE" checked="true" ng-change="checkStuff(xchange)">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!--ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)">
                        !-->
                    </div>

                    <div>
                        <div id ="addr_yangu"> <b>Select Company </b> </div>

                        <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                                  data-placeholder-text-single="'Select Company'"
                                  no-results-text="'Could not find Company'"
                                  ng-model="company"
                                  ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                              <option value=""></option>
                        </select>

                    </div>
                    <div>
                        Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
                    </div>                    
                    <div>
                        <div id ="addr_yangu"> <b>Security </b></div>
                        <select name ="security" ng-model="security"   class='mytextEditor'>
                            <option value ="Equity"> Equity </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> <b>Quantity </b></div>
                        
                        <input type="number" min="0" ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>


                    <div style ="{{tinashe_my_style}}" >
                        <div id ="addr_yangu"> <b>Select broker {{my_broker_name.Code}}</b><br>
                            <i  ng-if="my_broker_name" >*Minimum BUY Order value  E{{my_broker_name.threshold}} </i></div>
                        <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
                    </div>


                    <div style="display: none;" >
                        <div id ="addr_yanguse"> Order Type</div>
                        <select name ="marko"  ng-model="marko"   class='mytextEditor'>
                            <option value="M">Market Order</option>
                            <option value="L">Limit Order</option>
                            <option value="S">Stop Order</option>
                            <option value="SL">Stop Limit Order</option>
                            <option value="HO">Hidden Order</option>
                        </select>                        
                    </div>                      
                    <div  style="display: none;" >
                        <div id ="addr_yangsue"> Order Qualifier </div>
                        <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                            <option value="FOK">Feel or Kill (FOK)</option>
                            <option value="MF">Minimum Feel</option>
                        </select>                        
                    </div>                      
                    <div>
                        <div id ="addr_yangue"> <b>Time in force </b></div>
                        <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>
                            <option value="Day Order (DO)">Day Order (DO)</option>
                            <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                            <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                            <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                        </select>                        
                    </div>                       
                    <div style = "{{my_style_now}}" >
                        <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                         <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />

                    </div>
                    <div>
                        <div id ="addr_yangu"> <b>Price </b></div>
                        <input type="number"   min="0" ng-model="price" name ="price" class='mytextEditor'/>
                    </div>
                    <div>
                        Gross Total : {{ (price * quantity ) | currency:"E" : 4 }}<br> 
                        Charges : {{ ( ( price * quantity) * 0.01693 ) | currency:"E":4}}   <br>
                        Net Total : {{ ( price * quantity * 1.01693)  | currency:"E":4 }}                    

                    </div>
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY"/>


                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')" ng-model="isDisabled_buy" ng-disabled="isDisabled_buy" class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_buy == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_buy }}
                    </button>
                </div>

                <pre  style="display:none;">Order Details={{list}}</pre>
            <form>
            

        </script> 

<!-- Sell Orders -->
        <script type="text/ng-template" id="placeOrderDiagSELL">
            <form ng-controller="OrderCtrl">
                <div class="ngdialog-message">
                    <h2 style="border-bottom: 1px red solid;">PLACE SELL ORDER</h2>
                    <div style="display: none;">
                        <div id ="addr_yangu"><b> Select Exchange</b> </div>

                        ESE<input type="radio" ng-model="xchange" name="xchange" value ="ESE" checked="true" ng-change="checkStuff(xchange)">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!--ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)">
                        !-->
                    </div>

                    <div>
                        <div id ="addr_yangu"> <b>Select Company</b>  </div>

                        <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                                  data-placeholder-text-single="'Select Company'"
                                  no-results-text="'Could not find Company'"
                                  ng-model="company"
                                  ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                              <option value=""></option>
                          </select>

                   

                    </div>
                    <div>
                        Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
                    </div>
                    <div>
                        <div id ="addr_yangu"> <b>Security</b> </div>
                        <select name ="security" ng-model="security"   class='mytextEditor'>
                            <option value ="Equity"> Equity </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu">  <b>Quantity  </b> </div>
                        
                        <input type="number" min="0"  ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>

                    <div style ="{{tinashe_my_style}}" >
                        <div id ="addr_yangu"> <b> Select broker {{my_broker_name.Code}} </b> <br>
                            <i  ng-if="my_broker_name" >*Minimum SELL Order value  E{{my_broker_name.threshold}} </i> </div>
                        <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
                    </div>

                    <div style="display: none;" >
                        <div id ="addr_yanguse"> Order Type</div>
                        <select name ="marko"  ng-model="marko"   class='mytextEditor'>
                            <option value="M">Market Order</option>
                            <option value="L">Limit Order</option>
                            <option value="S">Stop Order</option>
                            <option value="SL">Stop Limit Order</option>
                            <option value="HO">Hidden Order</option>
                        </select>                        
                    </div>                      
                    <div style="display: none;">
                        <div id ="addr_yangsue"> Order Qualifier </div>
                        <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                            <option value="FOK">Feel or Kill</option>
                            <option value="MF">Market Feel</option>
                        </select>                        
                    </div>                      
                   
                    <div>
                        <div id ="addr_yangue">  <b>Time in force  </b></div>
                        <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>
                            
                            <option value="Day Order (DO)">Day Order (DO)</option>
                            <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                            <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                            <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                        </select>                        
                    </div>                       
                    <div style = "{{my_style_now}}" >
                        <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                         <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />

                    </div>

                    <div>
                        <div id ="addr_yangu">  <b>Price  </b></div>
                        <input  type="number"  min="0" ng-model="price" name ="price" class='mytextEditor'/>
                    </div>
                    <div>
                        Gross Total : {{ (price * quantity) | currency:"E":4 }}<br>
                        Charges : {{ ( ( price * quantity) * 0.02443 ) | currency:"E":4 }}<br>
                        Net Total : {{ ( price * quantity * 0.97557)  | currency:"E":4 }}
                    </div>                    
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "SELL"/>
                    
                   

                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('SELL')"  ng-model="isDisabled_sell"   ng-disabled="isDisabled_sell" class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_sell == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_sell }}
                    </button>
                </div>

                <pre  style="display:none;">Order Details={{list}}</pre>
            <form>
            

        </script>   


        <script type="text/ng-template" id="placeOrderDiagDeposit" style="background-color:pink;">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Deposit funds</h2>
                    <div>
                        <div id ="addr_yangu"> Select method of payment  </div>
                        <select name ="pay_methd" ng-model="pay_methd"   ng-change="updatePayments()" class='mytextEditor'>
                            <option value ="MTN"> MTN* </option>
                            <option value ="SWAZI">SWAZI* </option>
                        </select>
                    </div>
                    <div style = "{{my_style_phone}}" >
                        <div id ="addr_yangu"> Enter {{pay_methd}} Phone Number :  268-</div>
                         <input type="number"  ng-model="phone_numbr" name ="phone_numbr" class='mytextEditor'  /><br />

                    </div>
                    <div style = "{{my_style_phone_otp}}" >
                        <div id ="addr_yangu"> Enter {{pay_methd}} OTP :</div>
                         <input type="number"  ng-model="phone_numbr_otp" name ="phone_numbr_otp" class='mytextEditor'  /><br />

                    </div>                    
                    <div>
                        <div id ="addr_yangu"> Amount <br> <i>*Minimum amount must be E10</i> </div>
                            <input type="number"  min="10" ng-model="pay_ammt" name ="pay_ammt" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="depositMoney()"  class="ngdialog-button ngdialog-button-primary" >Make Deposit ► </button>
                </div>

                <pre  style="display:none;">Deposit Details={{list}}</pre>
            <form>
            

        </script>

 
        <script type="text/ng-template" id="placeOrderDiagChangeBroker" >
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Change broker</h2>
                    <div>
                        <div id ="addr_yangu"> Select broker </div>
                        
                        <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokercz"></select>
                        
<!--                         <select    class='mytextEditor'  name ="change_broker"  chosen
                                  data-placeholder-text-single="'Select Broker'"
                                  no-results-text="'Could not find broker'"
                                  ng-model="change_broker"
                                  ng-options="x.Code as x.Name for x in brokercz">
                              <option value=""></option>
                          </select> -->

                    </div>

                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="changeBroker()"  class="ngdialog-button ngdialog-button-primary" >Change Broker ► </button>
                </div>

                <pre  style="display:none;">Deposit Details={{list}}</pre>
            <form>
            
        </script>

        <script type="text/ng-template" id="placeOrderDiagWidthdraw">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Widthdraw funds</h2>
                    <div>
                        <div id ="addr_yangu" ng-controller="dashboardCtrl" > Actual Cash: E{{cash_balance}}  </div>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Amount *Minimum amount must be E10</div>
                            <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="widthdrawMoney()"  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_dep }}
                    </button>
                </div>
                <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
            <form>

        </script>


        <script type="text/ng-template" id="performanceReport">
            <div  ng-controller="dashboardCtrl" style ="width: 82%;">
                <div class="ngdialog-message">
                    <h2>Perfomance Report</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Security</th>
                                    <th>Last Activity date</th>
                                    <th>No. Shares</th>
                                    <th>Current price per share</th>
                                    <th>Current portfoil value</th>
                                    <th>Previous price per share</th>
                                    <th>Previous portfolio value</th>
                                    <th>Net Movement (Day) </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="my_port in my_portfolio" >
                                    <td>1</td>
                                    <td>{{my_port.counter}}</td>
                                    <td>{{my_port.numbershares}}</td>
                                    <td>{{my_port.lastactivitydate}}</td>
                                    <td>{{my_port.currentprice}}</td>
                                    <td>{{my_port.totalportvalue}}</td>
                                    <td>{{my_port.currentprice}}</td>
                                    <td>{{my_port.totalportvalue}}</td>                                                        
                                    <td>{{my_port.totalportvalue - my_port.totalportvalue}} <span class ="green_arrow"></span></td>
                            </tbody>

                        </table>
                    </div>



                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Download</button>
                </div>

                <pre  style="display:none;">Order Details={{list}}</pre>
            <div>
        </script>        

        <script type="text/ng-template" id="warning-dialog.html">

          <div class="ngdialog-header">
           <h3>You're Idle. Do Something!</h3>
          </div>
          <div idle-countdown="countdown" ng-init="countdown=5" class="ngdialog-message">
           <uib-progressbar max="60" value="60" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
          </div>

        </script>
        <script type="text/ng-template" id="timedout-dialog.html">
          <div class="ngdialog-header">
           <h3>You've Timed Out!</h3>
          </div>
          <div class="ngdialog-message">
           <p>
              You were idle too long. Normally youd be logged out.
           </p>
         </div>
        </script>