
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                  <div>
                                     <div style="margin:0px auto;max-width:600px;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:20px;padding-top:30px;">
                                                    <div class="" style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:center;">
                                                       <!-- <a href="#" class="ks-logo" style="font-size: 18px; text-decoration: none; color: #3a529b; font-weight: bold;"><img src="img/Untitled-online.png" width="50%"></a> -->
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                     <div style="margin:0px auto;max-width:600px;background:#000;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#000;border: 1px solid #ffffff;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                       <table   role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                        <form name ="verify_pass" ng-controller="VerifyOTPCtrl" ng-submit = "myFuncVerify()">
                                                                <input type = "hidden"  value="{{fullname}}" name ="email">
                                                          <tbody>
                                                             
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:5px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:30px;font-weight:bold;line-height:22px;text-align:center;">
                                                                       Login-Verify Your Identity
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      One Time Password (OTP) has been sent to your email / mobile number 
                                                                      <h2  style="display:none;">USE OTP : {{userEmailVeri}} </h2>
                                                                    </div>
                                                                 </td>
                                                              </tr>

                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                          <tr>
                                                                             <td align="center" valign="middle">
                                                                                   <input id ="textbox_id_pinveri" required ng-maxlength="4"   maxlength="4"  ng-model="userInsPIN"  name="userInsPIN" placeholder ="0000" data-mask="0000" data-mask-clearifnotmatch="true" 
                                                                                   style="font-size: 30px;text-align: center;cursor:auto;padding:12px 30px;border: solid 1px #034f03;box-shadow: inset 0 0 0 1px #034f03;transition: box-shadow 0.3s, border 0.3s;color: #000;" 
                                                                                   type ="text" />
                                                                             </td>

                                                                          </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>


                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                             <tr>
                                                                                <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="left">
                                                                                   <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="left" border="0">
                                                                                      <tbody>
                                                                                         <tr>
                                                                                            <td style="" align="center" valign="middle" bgcolor="#000">

                                                                                                  <input ng-controller="VerifyOTPCtrl" ng-click="myFuncVerify()" value="Confirm" type="submit" style="border: 2px solid #3a529b;border-radius:2px;color:#3a529b;padding:12px 30px;text-decoration:none;line-height:100%;background: #000;color: #ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:500;text-transform:none;margin:0px;"/>    

                                                                                            </td>
                                                                                         </tr>
                                                                                      </tbody>
                                                                                   </table>
                                                                                </td>
                                                                             </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>
                                                               

                                                               <tr>
                                                                  <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:10px;">
                                                                     <p style="font-size:1px;margin:0px auto;border-top:1px solid #e6e6e6;width:100%;"></p>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="left">
                                                                     <div class="" style="color:#858585;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:left;">
                                                                       <a class ="cd-signin" href="javascript:void(0);" ng-controller="dashboardCtrl" ng-click="logout()" > Logout  </a> 
                                                                     </div>
                                                                  </td>
                                                               </tr>


                                                          </tbody>
                                                        </form>
                                                       </table>
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                  </div>
                            </div>
                        </div>
                    </div>
