                    <div class="block-header">
                        <!-- <h2>Dashboard</h2> -->

                        <ul class="actions" style="font-size:12px;">
                            <li>
                                <a style="width:100%"  ng-if="cds == ''" href="#/home" class="p-l-10">
                                    HOME
                                </a>
                                <a style="width:100%" ng-if="cds !== ''" href="#/dashboard" class="p-l-10">
                                    HOME
                                </a>
                            </li>
                            <li>
                                 | 
                            </li>
                            <li class="dropdown">
                                <a style="width:100%" href="" data-toggle="dropdown">
                                    GRAPH 
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="#/graph">3X2</a>
                                    </li>
                                    <li>
                                        <a href="#/graph_two">2X1</a>
                                    </li>
                                    <li>
                                        <a href="#/graph_four">2X2</a>
                                    </li>
                                    <li>
                                        <a href="#/graph_one">1</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-6 col-sm-3">
                                <div class="card" ng-controller="notLoggedCtrl"  >
                                    <div class="card-header" style="padding: 1px 8px;">
                                        <h2>
                                            <small>
                                                <h1>
                                                    <div class="user show">
                                                        <div class="dropdown-backdrop"></div><div class="user__info" data-toggle="dropdown" aria-expanded="false"> 
                                                        <img class="pull-left mCS_img_loaded" width="32" src="img/select_counter.png" alt="">                                     
                                                            <div> 

                                                                <div class="user__name">{{graph_company}}</div>
                                                                <!-- <div class="user__email">Old Mutual Zimbabwe </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="dropdown-menu pull-right">
                                                            <div class="dropdown-item dropdown-item-title"><h1>SELECT COMPANY</h1></div>
                                                            <a ng-repeat="compani in companies_listing | orderBy:predicatec:reversec | filter:paginatec| filter:searchc" class="dropdown-item" href="javascript:void(0);" ng-click="getDataServer(compani.Name);">
                                                                {{compani.Name}}
                                                            </a>
                                                            <pagination total-items="totalItemsc" ng-model="currentPagec"  
                                                                 max-size="8" boundary-links="true"  
                                                                 items-per-page="numPerPagec" class="pagination-sm">  
                                                            </pagination>  

                                                        </div>
                                                    </div>
                                              <h1>
                                              </small>                                             
                                        </h2>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary sell"  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL ORDER</button>
                                        <button class="btn btn-primary buy"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()">BUY ORDER</button>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <nvd3 style="fill:#e4b447;stroke:#e4b447;"  options="options", data="data", api="rc.api" config="{refreshDataOnly: true}" />
                                        </div>                        
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6 col-sm-3">
                                <div class="card" ng-controller="notLoggedCtrl"  >
                                    <div class="card-header" style="padding: 1px 8px;">
                                        <h2>
                                            <small>
                                                <h1>
                                                    <div class="user show">
                                                        <div class="dropdown-backdrop"></div><div class="user__info" data-toggle="dropdown" aria-expanded="false"> 
                                                        <img class="pull-left mCS_img_loaded" width="32" src="img/select_counter.png" alt="">                                     
                                                            <div> 

                                                                <div class="user__name">{{graph_company}}</div>
                                                                <!-- <div class="user__email">Old Mutual Zimbabwe </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="dropdown-menu pull-right">
                                                            <div class="dropdown-item dropdown-item-title"><h1>SELECT COMPANY</h1></div>
                                                            <a ng-repeat="compani in companies_listing | orderBy:predicatec:reversec | filter:paginatec| filter:searchc" class="dropdown-item" href="javascript:void(0);" ng-click="getDataServer(compani.Name);">
                                                                {{compani.Name}}
                                                            </a>
                                                            <pagination total-items="totalItemsc" ng-model="currentPagec"  
                                                                 max-size="8" boundary-links="true"  
                                                                 items-per-page="numPerPagec" class="pagination-sm">  
                                                            </pagination>  

                                                        </div>
                                                    </div>
                                              <h1>
                                              </small>                                             
                                        </h2>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary sell"  ng-controller="dashboardCtrl" ng-click="openOrderDiagSELL()">SELL ORDER</button>
                                        <button class="btn btn-primary buy"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUY()">BUY ORDER</button>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <nvd3 style="fill:#e4b447;stroke:#e4b447;"  options="options", data="data", api="rc.api" config="{refreshDataOnly: true}" />
                                        </div>                        
                                    </div>

                                </div>



                            </div>
                            


                        </div>
                    </div>

        <script type="text/ng-template" id="placeOrderDiagBUY" style"background-color:green;">
            <form ng-controller="OrderCtrl">
                <div class="ngdialog-message">
                    <h2>Place Buy Order</h2>
                    <div>
                        <div id ="addr_yangu"> Select Company </div>
                        <select name ="company" ng-model="company" ng-change="updatePrice()" class='mytextEditor'>
                            <option value ="OMZIL,0.85"> OMZIL </option>
                            <option value ="TESTCOMP1,1.00"> TEST COMPANY </option>
                            <option value ="CBZ.ZW,1.00"> CBZ.ZW </option>
                            <option value ="INN.ZW,1.00"> INN.ZW </option>
                        </select>
                    </div>
                    <div>
                        Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
                    </div>                    
                    <div>
                        <div id ="addr_yangu"> Security </div>
                        <select name ="security" ng-model="security"   class='mytextEditor'>
                            <option value ="Equity"> Equity </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Quantity </div>
                        <input type="text" ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>
                    <div>
                        <div id ="addr_yanguse"> Order Type</div>
                        <select name ="marko"  ng-model="marko" ng-change="updateMarketOrder()"   class='mytextEditor'>
                            <option value="M">Market Order</option>
                            <option value="L">Limit Order</option>
                            <option value="S">Stop Order</option>
                            <option value="SL">Stop Limit Order</option>
                            <option value="HO">Hidden Order</option>
                        </select>                        
                    </div>                      
                    <div>
                        <div id ="addr_yangsue"> Order Qualifier </div>
                        <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                            <option value="FOK">Feel or Kill (FOK)</option>
                            <option value="MF">Minimum Feel</option>
                        </select>                        
                    </div>                      
                    <div>
                        <div id ="addr_yangue"> Time in force </div>
                        <select name ="tif"  ng-model="tif"   class='mytextEditor'>
                            <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>
                            <option value="Day Order (DO)">Day Order (DO)</option>
                            <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                            <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                        </select>                        
                    </div>                       
                    <div>
                        <div id ="addr_yangu"> Price </div>
                        <input type="text" ng-model="price" name ="price" class='mytextEditor'/>
                    </div>
                    <div>
                        Gross Total : {{ price * quantity}}<br> 
                        Charges : {{ ( ( price * quantity) * 0.01693 ) | currency:"$":4}}   <br>
                        Net Total : {{ ( price * quantity * 1.01693)  | currency:"$":4 }}                    

                    </div>
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY"/>
                    <input type="hidden" ng-model="broker" name ="broker" value = "AKRI"/>


                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Place Order ► </button>
                </div>

                <pre  style="display:none;">Order Details={{list}}</pre>
            <form>
            

        </script>        

        <script type="text/ng-template" id="placeOrderDiagSELL" style"background-color:pink;">
            <form ng-controller="OrderCtrl">
                <div class="ngdialog-message">
                    <h2>Place Sell Order</h2>
                    <div>
                        <div id ="addr_yangu"> Select Company </div>
                        <select  name ="company" ng-model="company" ng-change="updatePrice()" class='mytextEditor'>
                            <option value ="OMZIL,0.85"> OMZIL </option>
                            <option value ="TESTCOMP1,1.00"> TEST COMPANY </option>
                            <option value ="CBZ.ZW,1.00"> CBZ.ZW </option>
                            <option value ="INN.ZW,1.00"> INN.ZW </option>
                        </select>
                    </div>
                    <div>
                        Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
                    </div>
                    <div>
                        <div id ="addr_yangu"> Security </div>
                        <select name ="security" ng-model="security"   class='mytextEditor'>
                            <option value ="Equity"> Equity </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Quantity </div>
                        <input type="text" ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>
                    <div>
                        <div id ="addr_yanguse"> Order Type</div>
                        <select name ="marko"  ng-model="marko"   class='mytextEditor'>
                            <option value="M">Market Order</option>
                            <option value="L">Limit Order</option>
                            <option value="S">S</option>
                            <option value="SL">SL</option>
                            <option value="HO">Hidden Order</option>
                        </select>                        
                    </div>                      
                    <div>
                        <div id ="addr_yangsue"> Order Qualifier </div>
                        <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                            <option value="FOK">Feel or Kill</option>
                            <option value="MF">Market Feel</option>
                        </select>                        
                    </div>                      
                   
                    <div>
                        <div id ="addr_yangue"> Time in force </div>
                        <select name ="tif"  ng-model="tif"   class='mytextEditor'>
                            <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>
                            <option value="Day Order (DO)">Day Order (DO)</option>
                            <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                            <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                        </select>                        
                    </div>                      
                    <div>
                        <div id ="addr_yangu"> Price </div>
                        <input type="text" ng-model="price" name ="price" class='mytextEditor'/>
                    </div>
                    <div>
                        Gross Total : {{ price * quantity}}<br>
                        Charges : {{ ( ( price * quantity) * 0.02443 ) | currency:"$":4 }}<br>
                        Net Total : {{ ( price * quantity * 0.97557)  | currency:"$":4 }}
                    </div>                    
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "SELL"/>
                    <input type="hidden" ng-model="broker" name ="broker" value = "AKRI"/>

                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('SELL')"  class="ngdialog-button ngdialog-button-primary" >Place Order ► </button>
                </div>

                <pre  style="display:none;">Order Details={{list}}</pre>
            <form>
            

        </script>   


        <script type="text/ng-template" id="performanceReport">
            <div  ng-controller="dashboardCtrl" style ="width: 82%;">
                <div class="ngdialog-message">
                    <h2>Perfomance Report</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Security</th>
                                    <th>Last Activity date</th>
                                    <th>No. Shares</th>
                                    <th>Current price per share</th>
                                    <th>Current portfoil value</th>
                                    <th>Previous price per share</th>
                                    <th>Previous portfolio value</th>
                                    <th>Net Movement (Day) </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="my_port in my_portfolio" >
                                    <td>1</td>
                                    <td>{{my_port.counter}}</td>
                                    <td>{{my_port.numbershares}}</td>
                                    <td>{{my_port.lastactivitydate}}</td>
                                    <td>{{my_port.currentprice}}</td>
                                    <td>{{my_port.totalportvalue}}</td>
                                    <td>{{my_port.currentprice}}</td>
                                    <td>{{my_port.totalportvalue}}</td>                                                        
                                    <td>{{my_port.totalportvalue - my_port.totalportvalue}} <span class ="green_arrow"></span></td>
                            </tbody>

                        </table>
                    </div>



                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Download</button>
                </div>

                <pre style="display:none;">Order Details={{list}}</pre>
            <div>
        </script>        
